<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">ToDO List</h1>
    <p class="lead">Simple todo list</p>
    <hr class="my-4">

    <input type="text" class="todo-input" placeholder="What's next ?" [(ngModel)]="desc" 
           (keyup.enter)="addTodo()">

    <div class="list-group" *ngFor="let todo of todos" @fade>
      <div class="row" [ngClass]="(todo.status=='DONE')?'list-item-completed':'list-item'">
        <label class="col-2 col-form-label">{{ todo.desc }}</label>
        &nbsp;
        <div style="align-self: flex-end;">
          <button type="button" class="btn btn-outline-success" (click)="completeTodo(todo.id)">Done</button>
          <button type="button" class="close" (click)="deleteTodo(todo.id)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>